@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", cursive;
}

.register {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid #8854d0;
  border-radius: 5px;
  background-color: white;
}

.register span {
  color: #adb5bd;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}

#form > input:focus {
  outline: none;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

#form > input,
.btn {
  border: 1px solid #5517ad;
  font-size: 18px;
  padding: 0.9em 1em;
  transition: all 0.3s ease;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}

#form > .btn {
  color: #fff;
  font-size: 1em;
  font-family: "Poppins", cursive;
  cursor: pointer;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}

.btn {
  background: #8854d0;
  border: 1px solid #8854d0;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
}

input:focus {
  border-color: #8854d0;
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}
