.bottomBar {
  color: #fff;
  background-color: #8854d0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  font-family: "Courgette", cursive;
  font-size: 36px;
  opacity: 0.9;
}
