.headerBar {
  color: #fff;
  background-color: #8854d0;
  text-align: center;
  position: fixed;
  display: grid;
  align-items: center;
  height: 10%;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Courgette", cursive;
  font-size: 36px;
  opacity: 0.9;
}
